@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}
